<h1>Show html</h1>
<h3><%= @food.name %></h3>
<p><%= @food.price %></p>
<%= link_to  "Edit", edit_food_path(@food), method: :get  %>
<%= link_to  "Destroy", food_path(@food), method: :delete %>
<%= link_to 'Back', :back %>